*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html{
    background-color: white;
    color: #333;
    font-size: 16px;
    font-family: 'Lato';
}

header{
    height: 100vh;
    background-image: 
    linear-gradient( rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6) ) ,
    url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
}
.container1{
    width: 80%;
    margin: auto;
    z-index: 333333333;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.logo{
    height: 80px;
    margin-top: 20px;
}

.main-nav{
    display: flex;
    z-index: 3;
    list-style: none;
}
.main-nav li{
    margin-left: 20px;
    
}
.main-nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 3px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.main-nav li a::after{
    content: "";
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px ;
    background-color: rgb(174, 113, 0);
    display: block;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    margin-top: 7px;
}
.main-nav li:hover a{
    color: rgb(181, 118, 2);
}
.main-nav li:hover a::after{
    width: 100%;
}


.hero{
    position: absolute;
    top: 40%;
}
h1{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 3px;
    word-spacing: 2px;
    font-weight: 400;
}

.btnAll{
    border: solid 1px orange;
    padding: 7px 15px;
    border-radius: 10px;
    margin-left: 15px;
    color: orange;
    text-decoration: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.btnAll:hover{
    color: white;
    background-color: orange;
}
/* <!-----------------Start Features  ----------------> */

.logo2{
    width: 50px;
    margin: 3px 0;
}
.line{
    width: 100%;
    background-color: #666;
    height: 1px;
    display: block;
    margin-bottom: 3px;
}
.headTitle{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    
}
.headTitle h2  {
    color: #666;
    font-size: 2.5rem;
    position: relative;
    font-weight: 300;
    text-transform: uppercase;
}
.headTitle h2::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -22px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(231, 161, 32);
    height: 2px;
    width: 92px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.headPar {
    width: 60%;
    margin: auto;
    
}
.headPar p{
    line-height: 1.5rem;
    color: #333;
}

.Features-item .card  h5{
    font-size: 1.7rem;
    color: orange;
}
.Features-item .card-subtitle{
    font-size: 1.7rem;
    font-weight: 300;
}

/* <!-----------------end Features  ----------------> */
/* <!-----------------start Favorite meals  ----------------> */
.imgFavoriteMeals{
    overflow: hidden;
}
.imgFavoriteMeals img{
    filter: brightness(.7);
    -webkit-filter: brightness(.7);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;

}
.imgFavoriteMeals img:hover{
    filter: brightness(1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-filter: brightness(1);
}

/* <!-----------------end Favorite meals  ----------------> */
/* <!-----------------start How it works ----------------> */
.HowItWorks {
    background-color: #f4f4f4;
}

.steps-box {
    margin-top: 30px;
}


.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* <!-----------------end How it works ----------------> */
/* <!-----------------start Cities ----------------> */
.Cities i{
    color: #d76d10;
    margin-left: 3px;
}
.Cities .Cities-Items .citiesP a{
    color: #d76d10;
    line-height: 16px;
}
.citiesP{
    line-height: 16px;
}
/* <!-----------------end Cities ----------------> */
/* <!-----------------start testimonials ----------------> */
.testimonials{
    
    color: white;
    background-image: 
    linear-gradient( rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6) ) ,
    url(../images/back-customers.jpg);
    background-position: center;
    background-size: cover;
}
.testimonials h2{color: white;}
.testimonials p{
    letter-spacing: 2px;
    line-height: 1.7rem;
}
.testimonials i{
    font-size: 3rem;
}
.testimonials .media h5{
    font-weight: 400;
    font-style: italic;
}
.testimonials .media img{
    margin: 5px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* <!-----------------end testimonials ----------------> */
/* <!-----------------start plans ----------------> */
.Plans{
    background-color: #f4f4f4;
}

.Plans h5{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8rem;
}
.price{
    font-size: 3rem;
    font-weight: 300;
    color: rgb(255, 185, 54);
}
.price span{
    font-size: 1.5rem;
}
.advantageUl li{
    color: #666;
    text-transform: capitalize;
}
.advantageUl li i{
    color: #e67e22;
    margin-right: 5px;
    font-size: 14px;
}
.Plans .item{
    background-color: white;
}
.Plans .btnAll{
    border: 0;
    background-color: #d76d10;
    color: white;
}
.Plans .btnAll:hover{
    background-color: white;
    color: #d76d10;
    box-shadow: 0px 3px 16px 3px #d76d10ba;
}
/* <!-----------------end plans ----------------> */
/* <!-----------------start Contact_form ----------------> */
.map iframe{
    min-height: 300px;
}
.section-form{
    
    
    color: white;
}
.section-form .headTitle h2{
    color: white  ;
}
.contact-form  .row{
    margin-bottom: 10px;
}

.inp{
    outline: none;
    /* border-radius: 10px; */
    padding: 5px 3px;
    padding-right: 100px;
    margin: 10px 5px;
}
.contact-form {
    background-color: rgba(255, 255, 255, 0.816);
    
    color: #333;
    
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
input ,textarea{
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
input:focus,
textarea:focus{
    box-shadow: inset #e67e22 0px 1px 10px 0px;
}
textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}
.contact-form  .headTitle h2{
    color: #555;
}

/* <!-----------------end Contact_form ----------------> */
/* <!-----------------start footer ----------------> */
footer{
    background-color: #444;
}
.footer-nav li a, .media li a{
    color: rgb(205, 205, 205);
    margin: 0px 8px;
    text-decoration: none;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.footer-nav li:hover a, .media li:hover a{
    color: #d76d10;
}
.media li a i{
    font-size: 18px;
}
/* <!-----------------end footer ----------------> */
/* <!-----------------start media ----------------> */
.icon{
    display: none;
}
@media (max-width:1331px) {
    header .container1{
        width: 90%;
    }
}
@media (max-width:768px) {
    header .container1{
        width: 100%;
    }
    .logo {
        width: 52px;
        margin: 12px 10px;
        height: 59px;
    }
}
@media (max-width:603px) {
    .headTitle h2{
        font-size: 2.1rem;
    }
    .contact-form{
        width: 80%;
    }
    
    header .nav1{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgb(0, 11, 20);
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
}
header .nav1.active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.nav{
    background-color: rgb(0, 11, 20);
}
    header .nav1 .main-nav {
        display: block;
        text-align: center;
        
    }
    header .nav1 .main-nav li{
        margin: 10px 0;
    }
    .logo {
        width: 52px;
        margin: 12px 10px;
        height: 59px;
    }
    
    .icon{
        cursor: pointer;
        display: block;
        color: white;
        padding: 10px ;
    }
    

}
/* <!-----------------end media ----------------> */